---
import Mx from "./flags/Mx.astro"
import Fr from "./flags/Fr.astro"
---

<div class="fixed top-5 right-5 cursor-pointer flex flex-col gap-2 ring-1 ring-black rounded-md bg-white/70">
  <div id="btn-current-locale" class="flex items-center gap-2 p-2 pb-1">
    {
      Astro.currentLocale == 'fr' ? (
        <Fr />
        <span class="hidden md:block">Français</span>
      ) : (
        <Mx />
        <span class="hidden md:block">Español</span>
      )
    }
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 hidden md:block">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
    </svg>
  </div>
  <div id="language-options" class="flex-col">
    <div class="flex items-center gap-2 hover:bg-slate-300 py-1 px-2" (click)="changeLocale('es')">
      <Mx />
      <span class="hidden md:block">Español</span>
    </div>
    <div class="flex items-center gap-2 hover:bg-slate-300 py-1 px-2" (click)="changeLocale('fr')">
      <Fr />
      <span class="hidden md:block">Français</span>
    </div>
  </div>
</div>

<style>
  #language-options {
    display: none;
  }
  #language-options.show {
    display: flex;
    animation: expand 0.5s;
  }

  @keyframes expand {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(0);
    }
  }
</style>

<script>
  const languageOptions = document.getElementById('language-options') as HTMLElement;
  const btnCurrentLocale = document.getElementById('btn-current-locale') as HTMLElement;

  btnCurrentLocale.addEventListener('click', () => {
    languageOptions.classList.toggle('show');
  });

  const btnSpanish = languageOptions.children[0] as HTMLElement;
  const btnFrench = languageOptions.children[1] as HTMLElement;

  btnSpanish.addEventListener('click', () => {
    window.location.href = `/`;
  });
  btnFrench.addEventListener('click', () => {
    window.location.href = `/fr`;
  });
</script>