<!doctype html>
<html lang={ Astro.currentLocale }>
<head>
  <meta charset="utf-8">
  <title>Melchor Ruiz</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Melchor Ruiz González">
  <meta name="description" content="Melchor Ruiz González, Full Stack Developer">
  <meta name="keywords" content="Melchor Ruiz González, Full Stack Developer, Angular, Node.js, JavaScript, TypeScript, HTML, CSS, Tailwind CSS, MySQL, MongoDB, Git, GitHub">
  <meta name="robots" content="index, follow">
  <link rel="icon" type="image/x-icon" href="favicon.svg">
</head>
<body>
  <slot />
</body>
</html>